<ion-header>
  <ion-toolbar>
    <ion-title>Budget Planner</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>

            <ion-card-title>New Expense</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Expense Reason</ion-label>
              <ion-input name="reason" type="text" [(ngModel)]="reasonInput"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Expense Amount</ion-label>
              <ion-input name="amount" [(ngModel)]="amountInput" type="number"></ion-input>
            </ion-item>

            <div margin-vertical class="ion-text-right ion-margin-vertical">
              <ion-button fill="outline" color="primary" (click)="addExpense()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Add
              </ion-button>

              <ion-button fill="outline" color="danger" (click)="clearList()">
                <ion-icon slot="start" name="close-outline"></ion-icon>
                Clear
              </ion-button>

            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>

            <ion-card-title>Expense</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of expenseList">
                <ion-label>{{item.reason}} </ion-label>
                <span style="margin-left: 10%;"> ${{item.amount}}</span>

              </ion-item>

            </ion-list>
          </ion-card-content>
          <span class="ion-margin"> Total Expenses: ${{totalExpenses}}</span>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>